@import 'mixins'
@import 'colors'

.playlist
  &-tracks
    width: 60%
    margin-top: 20px
    @include box-shadow

  &-track
    overflow: hidden
    border-bottom: 1px solid #dedede
    font-size: 14px
    color: $grey-text
    span, div
      height: 50px
      float: left
      line-height: 50px
      vertical-align: middle
      text-align: center

    &-order
      display: block
      width: 50px
      line-height: 50px
      vertical-align: middle
      float: left

    &-title
      width: 45%
      text-align: left !important
      padding-left: 10px
      a
        color: $light-blue

    &-artist
      width: 35%

    &-actions
      width: calc(20% - 50px)